In [2]:
import numpy as np
import pandas as pd
import os
import urllib
%matplotlib inline

In [3]:
url = "https://covid19.who.int/WHO-COVID-19-global-data.csv"
file_path = os.path.join("data", "covid")

In [4]:
os.makedirs(file_path, exist_ok=True)
csv_path = os.path.join(file_path, "WHO-COVID-19-global-data.csv")
urllib.request.urlretrieve(url,csv_path)

('data/covid/WHO-COVID-19-global-data.csv',
 <http.client.HTTPMessage at 0x7f9cba365730>)

In [5]:
df = pd.read_csv(csv_path)

In [6]:
df

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
157837,2021-10-25,ZW,Zimbabwe,AFRO,26,132651,1,4669
157838,2021-10-26,ZW,Zimbabwe,AFRO,37,132688,4,4673
157839,2021-10-27,ZW,Zimbabwe,AFRO,36,132724,1,4674
157840,2021-10-28,ZW,Zimbabwe,AFRO,84,132808,1,4675
157841,2021-10-29,ZW,Zimbabwe,AFRO,72,132880,0,4675

In [7]:
df_index = df.index

In [8]:
df_index

RangeIndex(start=0, stop=157842, step=1)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157842 entries, 0 to 157841
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      157842 non-null  object
 1   Country_code       157176 non-null  object
 2   Country            157842 non-null  object
 3   WHO_region         157842 non-null  object
 4   New_cases          157842 non-null  int64
 5   Cumulative_cases   157842 non-null  int64
 6   New_deaths         157842 non-null  int64
 7   Cumulative_deaths  157842 non-null  int64
dtypes: int64(4), object(4)
memory usage: 9.6+ MB

In [10]:
df.describe()

           New_cases  Cumulative_cases     New_deaths  Cumulative_deaths
count  157842.000000      1.578420e+05  157842.000000      157842.000000
mean     1554.548466      3.662254e+05      31.546870        8309.291386
std      9479.306867      2.122341e+06     168.537334       41398.908419
min    -32952.000000      0.000000e+00     -60.000000           0.000000
25%         0.000000      5.200000e+01       0.000000           0.000000
50%        14.000000      5.104000e+03       0.000000          79.000000
75%       388.000000      9.083050e+04       6.000000        1531.000000
max    414188.000000      4.544566e+07    8786.000000      736801.000000

In [13]:
df.columns = [col.strip() for col in df.columns]
df.columns

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [14]:
df.tail()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
157837,2021-10-25,ZW,Zimbabwe,AFRO,26,132651,1,4669
157838,2021-10-26,ZW,Zimbabwe,AFRO,37,132688,4,4673
157839,2021-10-27,ZW,Zimbabwe,AFRO,36,132724,1,4674
157840,2021-10-28,ZW,Zimbabwe,AFRO,84,132808,1,4675
157841,2021-10-29,ZW,Zimbabwe,AFRO,72,132880,0,4675

In [15]:
df[ "Country"]

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
157837       Zimbabwe
157838       Zimbabwe
157839       Zimbabwe
157840       Zimbabwe
157841       Zimbabwe
Name: Country, Length: 157842, dtype: object

In [16]:
df.loc[1:4, 'Country']

1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: Country, dtype: object

In [17]:
df.loc[1:8,['Country','New_cases']]

       Country  New_cases
1  Afghanistan          0
2  Afghanistan          0
3  Afghanistan          0
4  Afghanistan          0
5  Afghanistan          0
6  Afghanistan          0
7  Afghanistan          0
8  Afghanistan          0

In [18]:
df.Country == 'United States of America'

0         False
1         False
2         False
3         False
4         False
          ...
157837    False
157838    False
157839    False
157840    False
157841    False
Name: Country, Length: 157842, dtype: bool

In [19]:
df[df.Country == 'United States of America']

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
150516,2020-01-03,US,United States of America,AMRO,0,0,0,0
150517,2020-01-04,US,United States of America,AMRO,0,0,0,0
150518,2020-01-05,US,United States of America,AMRO,0,0,0,0
150519,2020-01-06,US,United States of America,AMRO,0,0,0,0
150520,2020-01-07,US,United States of America,AMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
151177,2021-10-25,US,United States of America,AMRO,27430,45134683,765,731071
151178,2021-10-26,US,United States of America,AMRO,19109,45153792,167,731238
151179,2021-10-27,US,United States of America,AMRO,105136,45258928,1274,732512
151180,2021-10-28,US,United States of America,AMRO,106275,45365203,2608,735120
151181,2021-10-29,US,United States of America,AMRO,80460,45445663,1681,736801

In [20]:
df[df.New_deaths > 1000]

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
5602,2020-10-03,AR,Argentina,AMRO,14001,765002,3351,20288
16233,2020-09-08,BO,Bolivia (Plurinational State of),AMRO,528,120769,1610,7008
18787,2020-05-21,BR,Brazil,AMRO,17408,271628,1179,17971
18789,2020-05-23,BR,Brazil,AMRO,18508,310087,1188,20047
18790,2020-05-24,BR,Brazil,AMRO,20803,330890,1001,21048
...,...,...,...,...,...,...,...,...
151175,2021-10-23,US,United States of America,AMRO,88482,45029178,1558,728404
151176,2021-10-24,US,United States of America,AMRO,78075,45107253,1902,730306
151179,2021-10-27,US,United States of America,AMRO,105136,45258928,1274,732512
151180,2021-10-28,US,United States of America,AMRO,106275,45365203,2608,735120
151181,2021-10-29,US,United States of America,AMRO,80460,45445663,1681,736801

In [21]:
df.loc[(df.New_deaths > 1000) & (df.Country_code == 'US'),['Date_reported']]

       Date_reported
150606    2020-04-02
150607    2020-04-03
150608    2020-04-04
150609    2020-04-05
150610    2020-04-06
...              ...
151175    2021-10-23
151176    2021-10-24
151179    2021-10-27
151180    2021-10-28
151181    2021-10-29

[278 rows x 1 columns]

In [22]:
df[df.New_deaths < 0]

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
1546,2020-08-04,DZ,Algeria,AFRO,507,31972,-2,1229
3606,2020-10-05,AO,Angola,AFRO,0,5370,-4,185
9564,2020-08-30,BS,Bahamas,AMRO,37,2057,-10,40
9781,2021-04-04,BS,Bahamas,AMRO,35,9234,-1,188
11302,2021-10-10,BD,Bangladesh,SEARO,481,1562359,-6,27688
21504,2020-07-13,BF,Burkina Faso,AFRO,13,1033,-1,53
23217,2021-07-29,CV,Cabo Verde,AFRO,0,33626,-1,298
23246,2021-08-27,CV,Cabo Verde,AFRO,73,34992,-1,307
30128,2020-06-09,CG,Congo,AFRO,0,683,-2,20
33525,2020-08-15,CU,Cuba,AMRO,55,3229,-1,88
40509,2021-07-05,EC,Ecuador,AMRO,985,462142,-8,21660
42986,2020-12-30,ER,Eritrea,AFRO,181,1220,-1,1
43071,2021-03-25,ER,Eritrea,AFRO,20,3183,-27,8
44196,2020-08-30,SZ,Eswatini,AFRO,49,4510,-2,91
44403,2021-03-25,SZ,Eswatini,AFRO,5,17301,-2,666
48554,2021-08-27,FR,France,EURO,18812,6511793,-6,112433
48563,2021-09-05,FR,France,EURO,13143,6627205,-41,113010
49077,2021-04-06,GF,French Guiana,AMRO,0,17132,-3,93
56129,2020-07-06,GP,Guadeloupe,AMRO,0,184,-2,14
57399,2020-05-05,GT,Guatemala,AMRO,15,703,-2,17
58791,2020-07-04,GN,Guinea,AFRO,71,5521,-13,33
59135,2021-06-13,GN,Guinea,AFRO,23,23389,-2,167
62313,2021-01-12,HN,Honduras,AMRO,719,127945,-2,3273
68772,2020-06-25,IT,Italy,EURO,577,239410,-31,34644
78303,2021-01-18,LS,Lesotho,AFRO,0,6371,-4,93
85025,2021-03-21,ML,Mali,AFRO,204,9270,-3,360
85127,2021-07-01,ML,Mali,AFRO,4,14427,-1,525
88743,2020-06-16,YT,Mayotte,AFRO,28,2310,-1,28
95488,2020-09-09,NaN,Namibia,AFRO,118,8928,-2,89
101103,2021-06-23,NG,Nigeria,AFRO,-47,167331,-1,2118
101206,2021-10-04,NG,Nigeria,AFRO,60,206138,-1,2723
108525,2021-09-27,PG,Papua New Guinea,WPRO,56,19523,-1,226
109966,2020-03-19,PH,Philippines,WPRO,15,202,-2,17
112677,2020-05-05,PR,Puerto Rico,AMRO,35,1843,-43,54
115453,2020-08-25,RE,RÃ©union,AFRO,35,1244,-4,2
121808,2021-08-21,MF,Saint Martin,AMRO,55,3147,-17,16
124670,2020-05-10,ST,Sao Tome and Principe,AFRO,-43,165,-1,4
129859,2021-10-19,XB,Sint Eustatius,AMRO,0,28,-1,0
129967,2020-04-09,SX,Sint Maarten,AMRO,-3,37,-2,6
134007,2020-05-23,SS,South Sudan,AFRO,0,473,-1,5
134117,2020-09-10,SS,South Sudan,AFRO,0,2555,-1,48
134204,2020-12-06,SS,South Sudan,AFRO,12,3166,-1,61
134359,2021-05-10,SS,South Sudan,AFRO,0,10637,-1,115
135294,2020-04-08,LK,Sri Lanka,SEARO,6,186,-6,0
140184,2020-11-22,TH,Thailand,SEARO,11,3913,-60,0
148298,2021-03-24,UG,Uganda,AFRO,32,40719,-5,334
148338,2021-05-03,UG,Uganda,AFRO,66,41973,-1,342
157354,2020-06-29,ZW,Zimbabwe,AFRO,0,567,-1,6

In [23]:
df['pct_cases'] = (df['New_cases'] / df['Cumulative_cases']) * 100

In [24]:
df

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,pct_cases
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0,NaN
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0,NaN
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0,NaN
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0,NaN
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...
157837,2021-10-25,ZW,Zimbabwe,AFRO,26,132651,1,4669,0.019600
157838,2021-10-26,ZW,Zimbabwe,AFRO,37,132688,4,4673,0.027885
157839,2021-10-27,ZW,Zimbabwe,AFRO,36,132724,1,4674,0.027124
157840,2021-10-28,ZW,Zimbabwe,AFRO,84,132808,1,4675,0.063249
157841,2021-10-29,ZW,Zimbabwe,AFRO,72,132880,0,4675,0.054184